.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.scene {
  height: 80vh;
}
